.top {
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #666;
}
.top_left img {
    margin-top: 10px;
    margin-left: 10px;
}
.top_right li {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #8d8d8d;
}
.top_right li a {
    color: #8d8d8d;
}
.top_right li:nth-child(1) {
    width: 88px;
    background-color: #8b766c;
    color: #fff;
    margin-right: 15px;
}
.top_right li:nth-child(1) a {
    color: #fff;
}
.main {
    margin-bottom: 100px;
    position: relative;
}
.login {
    position: absolute;
    z-index: 2;
    top: 54px;
    right: 106px;
    width: 312px;
    height: 382px;
    background-color: #fff;
    box-shadow: 0 0 8px #ccc;
}
.login p {
    margin-left: 30px;
}
.login p:nth-child(1) {
    height: 38px;
    font-size: 18px;
    color: #9b745c;
    font-family: "microsoft yahei";
    text-align: center;
    line-height: 38px;
    margin-top: 14px;
}
.login p input {
    display: inline-block;
    width: 214px;
    height: 36px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 12px;
    color: #666;
    line-height: 38px;
    padding-left: 38px;
}
.login p:nth-child(2) {
    position: relative;
}
.login p:nth-child(2) i {
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 20px;
    color: #ccc;
}
.login p:nth-child(3) {
    position: relative;
}
.login p:nth-child(3) input {
    width: 100px;
    margin-top: -2px;
}
.login p:nth-child(3) i {
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 20px;
    color: #ccc;
}
.login p:nth-child(3) span {
    display: inline-block;
    width: 105px;
    height: 40px;
    margin-top: 12px;
    margin-left: 5px;
    background: url(../images/getCodeBtn.png) no-repeat;
    color: #9b745c;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}
.login p:nth-child(4) {
    font-size: 12px;
    color: #000;
    text-align: center;
    margin-top: 15px;
}
.login p:nth-child(4) input {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 0px;
}
.xianshi {
    text-align: left;
    color: #ccc;
    margin-bottom: 10px;
}
.xianshi a {
    color: #ccc!important;
    margin-right: 10px;
}
.login p:nth-child(4) a {
    color: #9b745c;
    text-decoration: underline;
}
.login p:nth-child(4) span {
    margin: 0 20px;
}

.login p:nth-child(5) {
    margin-top: 40px;
    font-size: 12px;
}
.login p:nth-child(5) input {
    width: 12px;
    height: 12px;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 10px;
}
.login p:nth-child(6) {
    width: 254px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.login p:nth-child(6) a {
    display: block;
    width: 248px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    background: #8b766c;
    border: 1px solid #8b766c;
    text-align: center;
    margin: 0 auto;
}
.login p:nth-child(7) {
    width: 312px;
    height: 20px;
    margin-left: 0;
    background: url("../images/otherLoginHr.png") no-repeat 0 11px ;
    margin-top: 20px;
}
.login p:nth-child(7) span {
    display: inline-block;
    font-size: 12px;
    width: 312px;
    height: 20px;
    text-align: center;
    color: #9b745c;
}
.login_bottom li a {
    display: inline-block;
    width: 21px;
    height: 16px;
    /*background-color: deepskyblue;*/
    margin-right: 10px;
}
.login_bottom li:nth-child(1) a {
    background: url("../images/ico-otherLogin.png") no-repeat 0 0;
}
.login_bottom li:nth-child(2) a {
    background: url("../images/ico-otherLogin.png") no-repeat -42px 0;
}
.login_bottom li:nth-child(3) a {
    background: url("../images/ico-otherLogin.png") no-repeat -86px 0;
}
.login_bottom li:nth-child(4) a {
    background: url("../images/ico-otherLogin.png") no-repeat -128px 0;
}
.login_bottom li:nth-child(1) a:hover {
    background: url("../images/ico-otherLogin.png") no-repeat 0 -27px;
}
.login_bottom li:nth-child(2) a:hover {
    background: url("../images/ico-otherLogin.png") no-repeat -42px -27px;
}
.login_bottom li:nth-child(3) a:hover {
    background: url("../images/ico-otherLogin.png") no-repeat -86px -27px;
}
.login_bottom li:nth-child(4) a:hover {
    background: url("../images/ico-otherLogin.png") no-repeat -128px -27px;
}
.login_bottom ul {
    width: 130px;
    height: 16px;
    margin-left: 96px;
    margin-top: 10px;
}